nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
vendor
cache.properties
build
tmp
*.log
*.tpl.php
di.log.txt
composer.phar
resource.db
apps/Skeleton/
apps/Sandbox/tests/Resource/App/First/GreetingTest.php
scripts/preloader.php
ID
VERSION
