<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_log" value="./tests/tmp/error.log"/>
    </php>
</phpunit>
