<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <html outputDirectory="build/coverage"/>
      <clover outputFile="coverage.xml"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="core">
      <directory>tests/</directory>
      <exclude>tests/Fake</exclude>
      <exclude>tests/Context</exclude>
      <exclude>tests/Provide</exclude>
    </testsuite>
    <testsuite name="context">
      <directory>tests/Context</directory>
    </testsuite>
    <testsuite name="provide">
      <directory>tests/Provide</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
</phpunit>
