body {
	font: 62.5% "Trebuchet MS", sans-serif;
	background: #fff; ]
	font-size: 12px;
	font-family: monospace;
	height: 99%;
	margin: 0px;
	padding: 3px 20px 20px;
	color: black;
}

img {
	border: none;
}