body  {
    font: 100% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    background: white;
    margin: 0; /* 複数の異なるブラウザの初期設定値に対応するため、body エレメントのマージンと余白を 0 にすることをお勧めします */
    padding: 0;
    text-align: center; /* これにより、IE 5* ブラウザではコンテナが中央揃えになります。そして、テキストは、#container セレクタの初期設定である左揃えに設定されます */
    color: #000000;
}
.twoColHybLt #container { 
    width: 100%;  /* これにより、幅がブラウザの幅の 100% のコンテナが設定されます */
    background: #FFFFFF;
    margin: 0 auto; /* 自動マージン（幅と連動）により、ページが中央揃えになります */
    border: 0px solid #000000;
    text-align: left; /* この設定は body エレメントの text-align: center より優先されます。 */
} 

/* #sidebar1 に関するヒント：
1. 単位は相対単位であるため、サイドバーで余白を使用することは回避してください。標準に準拠したブラウザでは、余白は全体の幅に追加されるため、実際の幅が不特定の幅になります。 
2. サイドバーの値の単位として em が使用されているので、その幅が初期設定のテキストサイズに応じて変化することに注意してください。
3. 「.twoColHybLt #sidebar1 p」ルールで見られるように、div の端と div に含まれるエレメントの間のスペースは、エレメントに左マージンと右マージンを適用することによって設定できます。
*/
.twoColHybLt #sidebar1 {
    border: 1px;
    border-style: solid none;
    float: left; 
    width: 12em; /* このエレメントはフローティングエレメントであるため、幅が設定されている必要があります */
    background: #dfe4ea; /* 背景色は、列内のコンテンツの長さにわたって表示されます */
    padding: 8px
 8PX; /* 上余白と下余白により、この div 内に視覚的なスペースが設定されます */
}
.twoColHybLt #sidebar1 h3, .twoColHybLt #sidebar1 p {
    margin-left: 10px; /* サイドバーに配置されるすべてのエレメントに左マージンと右マージンが設定されている必要があります */
    margin-right: 10px;
}

/* #mainContent に関するヒント：
1. #mainContent と #sidebar1 の間のスペースは、#mainContent div の左マージンによって設定されます。#sidebar1 div に含まれるコンテンツの量に関係なく、#sidebar1 div のスペースは維持されます。#sidebar1 のコンテンツが終了した後のスペースに #mainContent div のテキストを挿入するには、この左マージンを削除します。
2. #mainContent div の幅より広いエレメントが #mainContent div 内に配置されると、フローティングエレメントの落下（フローティング状態ではない #mainContent 領域がサイドバーの下に配置されること）が発生する可能性があります。ハイブリッドレイアウトの場合（全体の幅の単位はパーセント、サイドバーの単位は em）、使用可能な幅を正確に計算できない場合があります。ユーザーのテキストサイズが平均よりも大きい場合、#sidebar1 div が広くなるため、#mainContent div のスペースが狭くなります。クライアントが Contribute を使用してコンテンツを追加する予定である場合は、この制限に注意してください。
3. 下の Internet Explorer の条件分岐コメントでは、#mainContent に「hasLayout」を設定するのにズームプロパティが使用されます。これにより、いくつかの IE 固有のバグを回避できます。
*/
.twoColHybLt #mainContent { 
    margin: 0 0px 0 13em; /* 右マージンは、パーセントまたはピクセルで設定できます。これにより、ページの右側にスペースが設定されます。 */
} 

/* 再使用できる各種クラス */
.fltrt { /* このクラスは、ページ上でフローティングエレメントを右側に配置するのに使用できます。プローティングエレメントは、ページ上でその横に配置されるエレメントの前に配置される必要があります。 */
    float: right;
    margin-left: 8px;
}
.fltlft { /* このクラスは、ページ上でフローティングエレメントを左側に配置するのに使用できます */
    float: left;
    margin-right: 8px;
}
.clearfloat { /* このクラスは、div またはブレークエレメントに適用される必要があり、また、フローティングエレメントが完全に含まれているコンテナの末尾の直前にある最後のエレメントである必要があります */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.path {
    font-family: Verdana,sans-serif;
    font-size: 12px;
}

.tree_label {
    font-family: Verdana,sans-serif;
	position: relative; left:-4px;
    font-size: 14px;
    color: gray;
    font-weight : bold;
	background: url("../image/label.png") left top no-repeat;
	padding-left:15px;
}
